site_name: OrangeTheory API
repo_url: https://github.com/nodejsmith/otf-api
repo_name: otf-api
nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - Contributing: contributing.md
  - Authors: authors.md
  - Changelog: changelog.md
  - Code Reference: reference/
theme:
  name: material
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.index
    - navigation.tabs
    - navigation.instant
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expansion
markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.details
  - admonition
  - toc:
      baselevel: 2
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify {}
  - meta
plugins:
  - include-markdown
  - search:
      lang: en
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            merge_init_into_class: true
            show_root_toc_entry: false
            show_symbol_type_toc: true
            filters:
              - "!^_"
              - "^__"
            members_order: source
            signature_crossrefs: true
            extensions:
              - griffe_fieldz: { include_inherited: true }
            show_source: true
            preload:
              - pydantic

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/nodejsmith/otf-api
      name: Github
    - icon: material/email
      link: "mailto:12jessicasmith34@gmail.com"

watch:
  - src/otf_api
  - scripts/gen_ref_pages.py
